* {
    font-family: "Rubik", sans-serif;
    font-style: italic;
    margin: 0;
    padding: 0;
}

main {
    flex: 1;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body {
    background-color: #ffffff;
    opacity: 1;
    /* background-size: 10px 10px; */
    background-image: url(../img/bg-light.jpg);
}

footer {
    margin-top: auto;
    background-color: black!important;
    color: gold;
    text-align: center;
    align-items: center;
    min-height: 5vh;
    display: flex; /* Ensures footer content is centered vertically */
    justify-content: center; /* Ensures footer content is centered horizontally */
}

footer p {
    margin-top: 2vh;
    font-weight: 600;
}

.footer-head {
    min-height: 2vh;
    background-color: white!important;
    border-top: 1px solid black;
}

.bg-home {
    background-color: lightgray;
}

.container-nav {
    margin-top: 1%;
    margin-bottom: 0px;
}

.nav-button {
    background-color: gold;
    margin-right: 2vw;
    border-radius: 5px;
    color: black!important;
    font-weight: 700;
}

.nav-button a{
    color: black!important;
    font-weight: 700;
}


.search-nav {
    display: flex;
    padding-top: 1.5vh;
    padding-bottom: 3vh;
    border-radius: 0px 0px 5px 5px!important;
}

.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.1);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.form-search {
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.search-btn {
    margin-left: 1vw;
    padding-left: 2vw;
    padding-right: 2vw;
    border: none;
}

.theme-toggle{
    display: flex;
    align-items: center;
    color: white!important;
    font-weight: 700;
}

.marquee-container {
    width: 100%;
    margin-top: 3vh;
    overflow: hidden;
    background-color: #ffffff;
    white-space: nowrap;
    border-radius: 5px; 
}

.marquee-footer-container {
    width: 100%;
    margin-bottom: 3vh;
    overflow: hidden;
    background-color: #ffffff;
    white-space: nowrap;
    border-radius: 5px; 
}

.marquee {
    width: 25%;
    height: auto;
    display: flex;
    animation: marquee 30s linear infinite;
    white-space: nowrap;
}
.marquee img {
    width: 2000px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
    display: inline-block;
}

@keyframes marquee {
    0%{
        transform: translateX(0%);
    }
    50%{
        transform: translateX(-60%);
    }
    100% {
        transform: translateX(-120%);
    }
}

.top-container{
    margin-top: 3vh;
    background-color: #B3B3B3;
    border-radius: 5px;
    height: 4vh;
}

.title-container {
    position: relative;
    background-image: url("../img/cont.png");
    color: gold;
    border-radius: 5px;
    margin-top: 4vh;
    margin-bottom: 3vh;
    padding-top: 4vh;
    padding-bottom: 4vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.title-container-top {
    border-radius: 0 0 5px 5px!important;
}

.title-container h1 {
    text-align: center;
}

.title-container h5 {
    text-align: center;
}

.page-container {
    background: white!important;
    border-radius: 5px;
    margin-top: 4vh;
    padding-top: 4vh;
    padding-bottom: 4vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.page-container-top {
    border-radius: 5px 5px 0 0 !important;
}

.card-container {
    margin-bottom: 7vh;
    display: flex;
    justify-content: space-between;
    gap: 20px; /* Space between cards */
}
.card {
    position: relative;
    width: 200px; /* Adjust as needed */
    /* height: 200px; Adjust as needed */
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.card:hover {
    cursor: pointer;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease;
}
.card .description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    font-size: 0.8em;
}

.card:hover img {
    opacity: 0.3;
}
.card:hover .description {
    opacity: 1;
}

.bg-custom-1 {
    background-image: linear-gradient(gold,rgb(128,108,0))!important;
    border-radius: 5px 5px 0 0!important;
    padding-top: 1vh;
}

.bg-custom-2 {
    background-image: linear-gradient(rgb(128,108,0), black)!important;
}

.nav-shadow {
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}

.nav-img {
    margin-bottom: 0;
    margin-top: 0;
    width: 175px;
}

.action-row {
    margin-bottom: 3vh;
}

.action-card{
    width: 200px;
    /* height: 200px!important; */
    /* object-fit: cover; */
    border-radius: 10px 0 0 10px;
    border: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
    transition: transform 0.3s ease;
    min-width: 200px;
}

.action-container {
    display: flex;
    align-items: center;
}

.action-card:hover img {
    opacity: 0.7;
}

.action-desc {
    display: flex;
    align-items: left; /* Center content vertically */
    padding: 0 20px; /* Optional padding for better spacing */
    background-color: white;
    flex-direction: column;
    justify-content: center;
    width: 35vh;
    border-radius: 0 10px 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

}

.action-p {
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    display: -webkit-box;
    /* margin-left: 0.5vw; */
    /* font-size: 1em; */
    /* font-weight: 200; */
}

.action-desc p {
    text-align: left;
}

.action-desc h5 {
    margin-bottom: 10px;
}

.chapter-list {
    width: 100%;
}

.btn-select-chapter {
    width: 100%;
    background-color: gold;
    border-radius: 5px;
    color: black;
    font-weight: 700;
}

.btn-select-chapter:hover {
    background-color: rgb(212, 183, 19);
}

.read-title {
    color: white;
}

.read-section {
    margin-top: 4vh;
    text-align: center;
    background-color: black;
    opacity: 1;
}

.read-section img {
    border: 2px black solid;
    width: 85%;
}

.view-container {
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.view-img-wrapper {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.7);
}

.view-img-wrapper:hover .overlay {
    opacity: 1;
}

.view-img-txt {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 80%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.detail-container {
    font-size: 1em;
    border: 2px solid black;
    background-color: white;
    color: #000000;
    border-radius: 5px;
    padding-left: 1vw!important;
    padding-top: 1vh!important;
    padding-bottom: 1vh!important;
    font-weight: 500;
    display: inline-block;
}

.detail-container a {
    font-style: normal;
    color: black;
}

.detail-container a:hover{
    color: gold;
    text-decoration: none;
}

.detail-span {
    display: inline-block;
    width: 125px;
    font-weight: 650!important;
}

.value-span {
    display: inline;
    flex:1;
    word-break: break-word;
    margin-left: 0;
    padding-left: 0;
}

.info-row {
    display: flex;
    align-items: flex-start; /* Align items at the top */
    margin: 5px 0;
}

.info-row strong {
    min-width: 150px; /* Adjust the width according to your needs */
    flex-shrink: 0; /* Prevent the label from shrinking */
}

.synopsis-container {
    background-image: linear-gradient(black,rgb(0, 0, 0));
    color: gold;
    padding-top: 1vh;
    padding-bottom: 1vh;
    text-align: center;
    font-weight: 600    ;
}

.synopsis-wrapper {
    padding-left: 0!important;
    padding-right: 0!important;
    height: 100%;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
}

.synopsis-detail {
    padding : 1vh 1vw 1vh 1vw;
    overflow-y: scroll;
}

.chapter-title {
    background-image: url("../img/cont.png");
    color: gold;
    border-radius: 5px 5px 0 0;
    margin-top: 1vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    margin-bottom: 3vh;
    position: relative;
}

.chapter-title h5 {
    text-align: center;
}

.chapter-view-list {
    font-weight: 600;
    padding: 2vh 1vw;
    background-color: white;
    height: 35vh;
    border: 2px solid black;
    overflow-y: scroll;
}

.chapter-view-list p:hover{
    color: gold;
    cursor: pointer!important;
}

.chapter-view-list span {
    float: right;
}

.custom-container-min {
    max-width: 1200px; /* Adjust this value to your desired maximum width */
    /* margin-left: auto;
    margin-right: auto; */
}

.custom-container-max {
    min-width: 600px; /* Adjust this value to your desired minimum width */
    /* margin-left: auto;
    margin-right: auto; */
    /* Ensure it doesn't overflow on smaller screens */
    width: 100%;
}

.search-container {
    background-color: white;
    border: 2px solid black;
    padding: 2vh 2vw !important;
    margin-bottom: 2vh;
    position: relative;
}

.search-container label {
    font-weight: 600!important;
}

.search-container .minimize-icn {
    position: absolute;
    top: 15px; /* Adjust distance from top */
    right: 10px; /* Adjust distance from right */
    font-size: 24px; /* Adjust icon size */
    z-index: 999; /* Ensure it's abo */
}

.filter-item {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 2vh;
}

.filter-item i {
    margin-right: 10px;
}

.filter-item.included {
    background-color: #d4edda !important;
    border-color: #c3e6cb !important;
    color: #155724 !important;
}

.filter-item.excluded {
    background-color: #f8d7da !important;
    border-color: #f5c6cb !important;
    color: #721c24 !important;
}

.title-latest {
    font-weight: 600;
    font-style: normal;
}

.chapter-anchor {
    color: inherit;
    text-decoration: none!important;
}

.chapter-ancor:hover {
    text-decoration: none!important;
}

.read-title a {
    color: inherit;
    text-decoration: none!important;
}

.read-title a:hover {
    text-decoration: none!important;
}

.pg-nav {
    left: 80%;
}

.pagination {
    justify-content: center;
}

.page-item {
    margin-right: 0.5vw;
    margin-left: 0.5vw;
}

.page-link {
    font-style: normal;
}

.page-navigator a {
    color: gold;
}

.page-item .page-link {
    color: black;
    background-color: gold;
}

.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: gold;
}

.page-item.active .page-link {
    z-index: 3;
    color: black;
    background-color: white;
    border-color: lightgray;
}

.page-num a{
    border-radius: 2px;
}

.minimize-icn {
    color: gold!important;
    cursor: pointer;
}

.minimize-icn:hover {
    color: black!important;
}

.desc-card {
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    padding-left: 1vw!important;
    /* display: flex;
    flex-direction: column;
    justify-content: center;*/
    height: 100%; 
}

.desc-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.action-card-left {
    border-radius: 10px 0 0 10px;
}

.action-p-right {
    border-radius: 0 10px 10px 0;
}

.btn-search {
    background-color: gold;
    color: black;
    font-style: normal;
    font-weight: 600;
    border: none;
}

.btn-search:hover {
    background-color: goldenrod;
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: gold;
    color: black;
    border: none;
    border-radius: 50%;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

#dark-toggle {
    cursor: pointer;
}

.back-to-top:hover {
    background-color: rgb(211, 180, 2);
}

.navbar.dark-mode {
    background-color: #E6E6E6!important;
}

body.dark-mode{
    background-image: url('../img/bg-dark.jpg');
    background-size: cover;
}

.fade-left {
    transform: translateX(-50%);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    opacity: 0;
}

.fade-right {
    transform: translateX(50%);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    opacity: 0;
}

.fade-in {
    opacity: 1;
    transform: translateX(0);
}

.ads-img {
    border-radius: 5px;
    margin-bottom:4vh
}

.ads-img-read:hover, .ads-img:hover {
    cursor: pointer!important;
}

.title-container.dark-mode , .chapter-title.dark-mode {
    box-shadow: 0 0 5px rgba(255, 215, 0, 0.5), 0 0 10px rgba(255, 215, 0, 0.4), 0 0 15px rgba(255, 215, 0, 0.3);
}

.fb-container {
    background-color: white !important;
    padding-top: 20px;
    padding-right: 20px;
    margin-top: 4vh;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 8px;
    margin-bottom:4vh;
    text-align:center;
}

.gutter {
    margin-left: 20px; /* Adjust the value to set the gutter width */
}

@media (min-width: 991px) {
    .nav-button a{
        margin-left:2vw;
        margin-right:2vw;
    }
}

@media (max-width: 991px) {
    .nav-button {
        margin-top: 2vh!important;
    }
    .nav-img {
        margin-top: 2vh!important;
    }
    .search-btn{
        margin-top: 0!important;
    }
    .nav-link {
        padding-left: 2vw!important;
    }

    .action-card {
        border-radius: 10px 0 0 10px!important;
    }

    .desc-card {
        border-radius: 0 10px 10px 0!important;
    }

    .action-p {
        padding-right: 0.5vw;
    }
}

@media (max-width: 767px) {
    .synopsis-wrapper {
        margin-top:3vh;
    }

    .page-container {
        font-size: 2vw;
    }

    .action-card {
        min-width: 40vw;
    }

    .card .description {
        font-size: 0.5em;
    }
}
